body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 15px;
}

#monthly-payment {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-range {
    margin-top: -10px;
    margin-bottom: 20px;
}

canvas {
    max-width: 100%;
    max-height: 100%; 
    margin: 0 auto;
}

.d-flex p {
    font-size: 1.1rem;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.navbar-brand {
    font-weight: bold;
    text-align: center;
}

#repayment {
    margin-top: 20px;
}

#transaction-history {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
}

#transaction-history .list-group-item {
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#error-message {
    font-size: 1rem;
    font-weight: bold;
    color: red;
    margin-top: 10px;
}
